div {
    background-color: rgba(238, 255, 0, 0.514);
    padding: 5px, 5px, 5px, 5px;
    border-radius: 40%;
}

p{
    font-family: cursive;
    font-style: italic;
}
body{
    background-color: burlywood;
}

#cooltext {
    font-family: fantasy;
    color: darkgreen;
    
}